!/.gitignore
Makefile
*.workspace
*.mk
*.o
*.project
*.txt
*/Debug/*
!/Server/main.cpp
!/Server/src/Class/MessageHandlerServer.cpp
!/Server/src/Class/StreamSocketServer.cpp
!/Server/src/Header/MessageHandlerServer.h
!/Server/src/Header/StreamSocketServer.h
!/Client/main.cpp
!/Client/src/*
/.codelite/*
/playground/*

